<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class='main-content'>
            {{> header}}
            <p><bold>Repository: </bold> <a href="https://github.com/leandrincamargo/cotacoes">GitHub</a>
        </div>
        {{> footer}}
    </bod>
</html>