<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{> header}}
            <p>Search a stock price</p>
            <form>
                <input type="text" placeholder="Stock code">
                <button>Search</button>
            </form>

            <h3></h3>
            <p id='price'></p>
            <p id ='name'></p>
            <p id ='currency'></p>
            <p id ='price_open'></p>
            <p id ='day_high'></p>
            <p id ='day_low'></p>
        </div>
        {{> footer}}
    </body>

    <script src="/js/app.js"></script>
</html>